::selection {
    background-color: var(--selectedTextBg);
}

:root {
    --bs-blue: var(--dark) !important;

    --toolBaseWidth: 60px;
    --leftSpace: 36%;
}

body {
    user-select: none;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor) !important;
}

[fntype="SCENE_HEADING"]::before {
    position: absolute;
    text-align: right;
    left: -40px;
}

#headingContainer {
    pointer-events: none;
    display: flex;
    align-self: flex-start;
    text-overflow: ellipsis;
    height: 50px;
}

#scrollBox {
    margin-left: var(--leftSpace);
    height: 100vh;
    width: calc(var(--paperWidth) + 14px) !important;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

.editorContainer {
    user-select: none;
    background-color: var(--paperColor);
    min-height: 100%;

    padding-left: var(--paperMarginLeft);
    padding-right: var(--paperMarginRight);
    padding-top: var(--paperMarginTop) !important;
    padding-bottom: var(--paperMarginTop) !important;
}

#input {
    display: block;
    pointer-events: all;
    min-height: 12pt;
    min-width: 10vw;

    line-height: 12pt;
    font-size: 12pt;
    font-family: var(--font);

    color: var(--dark);
    caret-color: var(--primary);
}

#burgerMenu {
    pointer-events: all;
    z-index: 1;
    position: fixed;
    width: 16vw;
    height: 60px;
    top: 0;
    left: 0;
    margin-top: 30px;
    background-color: var(--primary);
    padding: 5px;
    padding-left: 20px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;

    transition: 0.4s, transform 0.2s;
}

#burgerButton {
    pointer-events: all;
    background-color: #0000;
    border: none;
    position: absolute;
    width: 50px;
    height: 50px;
    right: -60px;
    padding: 16px;

    transition: 0.2s;
}

.burgerButtonPart {
    pointer-events: none;
    background-color: var(--light);
    width: 100%;
    height: 10%;
    margin-bottom: 35%;
    border-radius: 2px;
    transition: 0.4s;
}

#burgerMenu[open="true"] #burgerButton,
#burgerMenu:hover #burgerButton {
    right: 10px;
}

#burgerMenu[open="true"] {
    margin-top: 0;
    padding: 14px;
    height: 100vh;
    width: 22vw;
}

#burgerMenu[open="true"] .burgerButtonPart[index="1"] {
    transform: rotate(-45deg) scale(1.2);
    margin-bottom: 45%;
    margin-top: 50%;
}

#burgerMenu[open="true"] .burgerButtonPart[index="2"] {
    transform: rotate(45deg) scale(1.2);
    margin-top: -55%;
}

#burgerMenu[open="true"] .burgerButtonPart[index="3"] {
    transform: rotate(-45deg) scale(1.2);
    margin-top: -45%;
    opacity: 0;
}

#icon {
    pointer-events: none;
    background-image: url(../src/icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    min-height: 50px;
    min-width: 50px;
}

#fileNameText {
    pointer-events: none;
    color: var(--paperColor);
    font-family: "Lexend";
    font-size: large;
    align-self: center;
    max-height: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 65%;
    transition: 0.2s;
}

#savedIcon {
    pointer-events: none;
    color: var(--paperColor);
    font-family: "Courier Prime Sans";
    font-size: large;
    align-self: center;
    opacity: 0.2;
    padding-left: 4px;
}

#savedIcon.not-saved {
    opacity: 1;
}

#toolbarContainer {
    --toolbar-right: 0px;
    right: calc(var(--toolbar-right) * 1px + 10px);
    position: fixed;
    top: 40%;
    pointer-events: all;
}

.toolbar {
    background-color: var(--toolbar-bg);
    width: var(--toolBaseWidth);
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    transition: width 0.4s;
    right: 0;
    position: absolute;
}

#fntypes-toolbar {
    top: 0;
}

#font-toolbar {
    top: 70px;
}

#nonPrintable-toolbar {
    top: 140px;
}

#fntypes-toolbar:hover {
    width: calc(var(--toolBaseWidth) * 6);
}

#font-toolbar:hover {
    width: calc(var(--toolBaseWidth) * 4);
}

#nonPrintable-toolbar:hover {
    width: calc(var(--toolBaseWidth) * 6);
}

.selectedToolMarker {
    pointer-events: none;
    position: absolute;
    background-color: var(--primary);
    width: 60px;
    height: 60px;
    border-radius: 50%;

    transition: 0.2s;
}

#selectedMarker-types {
    --selectedIndex: 0;
    right: 0;
}

#selectedMarker-font {
    right: 0;
}

#selectedMarker-nonprint {
    right: 0;
}

#fntypes-toolbar:hover>#selectedMarker-types {
    right: calc(var(--toolBaseWidth) * var(--selectedIndex));
}

#font-toolbar:hover>#selectedMarker-font,
#nonPrintable-toolbar:hover>#selectedMarker-nonprint {
    right: 360px;
}

#font-toolbar:hover>#toolFontIcon,
#nonPrintable-toolbar:hover>#toolAddIcon {

    opacity: 0;
}

.tool {
    z-index: 2;
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    margin: 15px;
    right: 0;

    opacity: 0;

    transition: 0.2s, transform 0.1s;
}

#toolFontIcon,
#toolAddIcon {
    z-index: 2;
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    margin: 15px;
    right: 0;

    opacity: 1;

    transition: 0.2s;
}

#font-toolbar>.tool {
    width: 44px;
    height: 44px;
    margin: 8px;
    opacity: 0;
}

#nonPrintable-toolbar>.tool {
    opacity: 0;
}

.tool[selected="true"],
#font-toolbar:hover>.tool[selected="true"] {
    opacity: 1;
}

#font-toolbar:hover>.tool[selected="false"] {
    opacity: 0.6;
}

.tool:hover {
    transform: scale(1.1);
}

.toolbar:hover>.tool[tool="SCENE_HEADING"] {
    right: calc(var(--toolBaseWidth) * 0);
    opacity: 1;
}

.toolbar:hover>.tool[tool="ACTION"] {
    right: calc(var(--toolBaseWidth) * 1);
    opacity: 1;
}

.toolbar:hover>.tool[tool="CHARACTER"] {
    right: calc(var(--toolBaseWidth) * 2);
    opacity: 1;
}

.toolbar:hover>.tool[tool="PARENTHETICAL"] {
    right: calc(var(--toolBaseWidth) * 3);
    opacity: 1;
}

.toolbar:hover>.tool[tool="DIALOG"] {
    right: calc(var(--toolBaseWidth) * 4);
    opacity: 1;
}

.toolbar:hover>.tool[tool="TRANSITION"] {
    right: calc(var(--toolBaseWidth) * 5);
    opacity: 1;
}

#font-toolbar:hover>.tool[tool="BOLD"] {
    right: calc(var(--toolBaseWidth) * 0);
}

#font-toolbar:hover>.tool[tool="ITALIC"] {
    right: calc(var(--toolBaseWidth) * 1);
}

#font-toolbar:hover>.tool[tool="UNDERLINE"] {
    right: calc(var(--toolBaseWidth) * 2);
}

#font-toolbar:hover>.tool[tool="CENTERED"] {
    right: calc(var(--toolBaseWidth) * 3);
}

#nonPrintable-toolbar:hover>.tool[tool="PAGEBREAK"] {
    right: calc(var(--toolBaseWidth) * 0);
    opacity: 1;
}

#nonPrintable-toolbar:hover>.tool[tool="BONEYARD"] {
    right: calc(var(--toolBaseWidth) * 1);
    opacity: 1;
}

#nonPrintable-toolbar:hover>.tool[tool="SYNOPSE"] {
    right: calc(var(--toolBaseWidth) * 2);
    opacity: 1;
}

#nonPrintable-toolbar:hover>.tool[tool="SECTION 1"] {
    right: calc(var(--toolBaseWidth) * 3);
    opacity: 1;
}

#nonPrintable-toolbar:hover>.tool[tool="SECTION 2"] {
    right: calc(var(--toolBaseWidth) * 4);
    opacity: 1;
}

#nonPrintable-toolbar:hover>.tool[tool="SECTION 3"] {
    right: calc(var(--toolBaseWidth) * 5);
    opacity: 1;
}

#leftBottomBar {
    pointer-events: none;
    position: fixed;
    width: fit-content;
    height: fit-content;
    bottom: 0;
    right: 0;
    margin: 20px;
}

#fullScreenBttn {
    pointer-events: all;
    width: 26px;
    height: 26px;
    margin-top: 14px;
    float: right;
    border: none;
    background-image: url("../src/ToolIcons/FullScrIcon.svg");
    background-color: #0000;
    background-size: contain;
}

:fullscreen #fullScreenBttn {
    background-image: url("../src/ToolIcons/NotFullScrIcon.svg");
}

#pageCounter {
    pointer-events: none;
    display: flex;
    width: fit-content;
}

#pageIcon {
    pointer-events: none;
    background-image: url("../src/ToolIcons/PageIcon.svg");
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 30px;
}

#pageText {
    pointer-events: none;
    display: inline-block;
    color: var(--dark);
    font-family: "Lexend";
    align-self: center;
    margin-right: 6px;
}

.unclickable {
    pointer-events: none;
}

#accordion-flush,
.accordion-item,
.accordion-button {
    --bs-accordion-bg: #0000;
    --bs-accordion-btn-bg: #0000;
    --bs-accordion-active-bg: #0000;
    --bs-accordion-active-color: var(--light);
    --bs-accordion-btn-color: var(--light);
    --bs-accordion-btn-focus-border-color: var(--dark) !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #0000 !important;
    font-family: "Lexend";
}

.accordion-button::after {
    background-image: url("../src/MinorIcons/ArrowDownIcon.svg") !important;
}

.accordion-button {
    font-variation-settings: 'wght' 400;
}

.accordion-item label {
    font-variation-settings: 'wght' 300;
    color: var(--dark);
}

.btn {
    border-radius: 50px !important;
}

.btn-primary {
    --bs-btn-bg: var(--dark) !important;
    --bs-btn-color: var(--light) !important;
    --bs-btn-border-color: var(--dark) !important;
    --bs-btn-hover-bg: var(--dark) !important;
    --bs-btn-hover-border-color: var(--light) !important;
    --bs-btn-active-bg: var(--dark) !important;
    --bs-btn-active-border-color: var(--light) !important;
    --bs-btn-disabled-bg: var(--dark) !important;
    --bs-btn-disabled-border-color: #0000 !important;

    --bs-primary: var(--dark) !important;
    --bs-accordion-btn-focus-box-shadow: var(--light) !important;
    --bs-btn-focus-shadow-rgb: var(--light) !important;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem #0000 !important;
}

.form-check-input {
    background-color: var(--selectedTextBg) !important;
    border-radius: 20px !important;
    border-color: var(--light) !important;
}

.form-check-input:checked {
    background-color: var(--light) !important;
    border-radius: 10px;
    border-color: var(--light) !important;
    background-image: url("../src/MinorIcons/checkIcon.svg") !important;
}

.form-check-input:focus {
    border-color: var(--light) !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #a219523f !important;
}

.btn-outline-primary {
    --bs-btn-color: var(--dark) !important;
    --bs-btn-border-color: var(--dark) !important;
    --bs-btn-hover-color: var(--light) !important;
    --bs-btn-hover-bg: var(--dark) !important;
    --bs-btn-hover-border-color: var(--light) !important;
}

.form-control {
    color: var(--light) !important;
    background-color: #0000 !important;
    border: 1px solid var(--light) !important;
    border-radius: 20px !important;
}

.form-control::placeholder {
    color: var(--light) !important;
    opacity: 0.6 !important;
    font-variation-settings: 'wght' 300;
}

.form-control::-ms-input-placeholder {
    color: var(--light) !important;
    opacity: 0.6 !important;
    font-variation-settings: 'wght' 300;
}

.form-text {
    width: 100% !important;
    color: var(--light) !important;
    opacity: 0.6 !important;
    font-variation-settings: 'wght' 300;
    text-align: justify !important;
}

#menuContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    height: calc(100vh - 145px - 12pt);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#dashboardButton {
    color: var(--light);
    border-radius: 30px;
    border: 4px solid var(--light);
    background-color: #0000;
    font-family: 'Lexend';
    padding: 10px;
    line-height: 1;
}

#menuContainer::-webkit-scrollbar {
    display: none;
}

.versionBtn {
    width: 5vh;
    height: 5vh;
    border-radius: 3vh;
    border: 0;
    background-color: var(--dark);
    background-size: 3.2vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    vertical-align: middle;
}

.versionBtn[action="delete"] {
    background-image: url("../src/MinorIcons/deleteIcon.svg");
    background-color: #de4050;
}

.versionBtn[action="edit"] {
    background-image: url("../src/MinorIcons/editIcon.svg");
    background-color: #548ed0;
}

#verTemplate {
    padding-left: 3vh !important;
    background-color: var(--light);
    border-radius: 7vh;
    padding: 1vh;
    margin-bottom: 1vh;
    color: var(--dark);
}

.form-select {
    color: var(--light) !important;
    background-color: #0000 !important;
    border: 1px solid var(--light) !important;
    border-radius: 20px !important;
}

option {
    color: var(--light) !important;
    background-color: var(--dark) !important;
}